<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  <label>email: <input type="text" name="email"></label><br>
  <label>password: <input type="password" name="password"></label><br><br>
  <input type="submit" name="login" value="Log In">
</form>
